<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    @import url('https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
        body {
            background-image: url("{{ url_for('static', filename='builtin/postbg.jpg') }}");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            margin: 0;
            padding: 0;
            font-family: 'Poppins', sans-serif;
        }
        .home-button {
            display: inline-block;
            text-decoration: none;
            width: 10%;
            height: auto;
            padding: 10px;
        }
        .home-button img {
            width: 50%;
            height: auto;
        }
        .home-button:hover {
            opacity: 0.8;
        }
        @media (max-width: 600px) {
            .home-button {
                width: 20%;
            }
        }
    </style>
</head>
<body>
    <!-- We add this in base.jinja2 and outside the content block so that it is not overridden by other pages. -->
    <a href="{{ url_for('home') }}" class="home-button">
        <img src="{{ url_for('static', filename='builtin/home.svg') }}" alt="Home">
    </a>

    {% block content %}

    {% endblock %}
</body>
</html>
